<div class="footer">
<div class="container-fluid">
 <div class="row justify-content-end">
     <div class="col-4">
         <h3>¿Necesitas Ayuda?</h3>
                0264 123 4567<br>
                enquiry@geekshubstravels.com<br>
                Lun-Vie.9:30-19:00 Sab: 10:00-14:00<br>
</div>

 <div class="col-3">
         <h3> Informacion</h3>
            
                  Quienes Somos<br>
                  Preguntas Frecuentes<br> 
                  Politicas de Privacidad<br>
                  Condiciones Generales<br>
                  Aviso Legal<br>
                  Contactos<br>
                  Programa de Puntos
                  
                  </div>
 <div class="col-5">
         <h3>SUSCRIBETE A LA NEWSLETTER</h3>
                <input type="text"><br>
                <button class="btn btn-warning" type="submit">SUSCRIBETE</button> 
   </div>
 </div>   
</div>
</div>
<div class="row align-item-center cop">
GeeksHubs Travels 2018 Todos los derechos reservados
</div>
