<div class="footer">
<div class="container-fluid">
 <div class="row">
     <div class="col">
         <h2>¿Necesitas Ayuda?</h2>
                0264 123 4567<br>
                enquiry@geekshubstravels.com<br>
                Lun-Vie.9:30-19:00 Sab: 10:00-14:00
</div>

 <div class="col">
         <h2> Informacion</h2>
            
                  Quienes Somos<br>
                  Preguntas Frecuentes<br> 
                  Politicas de Privacidad<br>
                  Condiciones Generales<br>
                  Aviso Legal<br>
                  Contactos<br>
                  Programa de Puntos
                  
                  </div>
 <div class="col">
         <h2>SUSCRIBETE A LA NEWSLETTER</h2>
                <input type="text"><br>
                <input class="sub" type="submit" value="SUSCRIBETE">
   </div>
 
 </div>   
</div>
</div>