<div class="container-fluid image">
  
  <div class="row">
    <div class="col-12">
      <nav class="nav">
        <div class="col-2 justify-content-start">
          <img class="logo" src="../images/iconoweb.png">
        </div>
       
        <nav class="nav col-6 justify-content-center">
        <a class="nav-link" href="#">Destinos</a>
        <a class="nav-link" href="#">Quienes Somos</a>
        <a class="nav-link" href="#">Donde Estamos</a>
        </nav>
        <div class="col-4 justyfy-content-end">
          <a href="#"><img class="rs1" src="../images/tt-ico.png"></a>
          <a href="#"><img class="rs1" src="../images/ws-ico.png"></a>
          <a href="#"><img class="rs1" src="../images/fb-ico.png"></a>
          <a href="#"><img class="rs1" src="../images/ig-ico.png"></a>
          <a href="#"><img class="rs1" src="../images/in-ico.png"></a>
          <a href="#"><img class="rs1" src="../images/yt-ico.png"></a>
        </div>
    
    </div>
  </div>
<div class="titulo">
<h1>{{title}}</h1>
            <p><strong>Descubre sitios maravillosos</strong> </p>
</div class="bot"> 
<button type="button" class="btn btn-warning">ver destino</button>
</div>
</div>
 