<div class="container-fluid">
  <div class="row image">
    <div class="col-12">
      <nav class="nav">
        <div class="col-3">
<img class="logo" src="../images/iconoweb.png">
<img>
        </div>
        <a class="nav-link" href="#">Destinos</a>
        <a class="nav-link" href="#">Quienes Somos</a>
        <a class="nav-link" href="#">Donde Estamos</a>
        </nav>
    </div>
  </div>
</div>
 