<div class="container-fluid">
    <div class="row d-flex justify-content-center">
            {{#with viaje}}
        <div class="ImgV2">
            <div class="card">
                <img class="card-img-top" src="../images/{{img_path}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{viaje}}<br></h5>
                    <p class="card-text">{{descripcion}}</p>
                    <div class="money">
                        <h3>{{precio}}€</h3>
                    </div>
                    <div class="ofer">
                        <h4>Ahorra 90 Euros</h4>
                    </div>
                </div>
            </div>
            <a class="enlace" href="/">Volver</a>
        </div>
            {{/with}}
    </div>
</div>