<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col e404">
            <h1>Oops!</h1>
            <h3>Error404-NotFound</h3>
            <p>Sorry an error has ocurred.The source your requested has not been found!</p>
            <a href='/'>
            <button type="button" class="btn btn-primary"> Home </button>
            </a>
        </div>
    </div>
</div>
