<a name="destinos" id="destinos">
<div class="container-fluid d-none d-md-block d-lg-block">
<div class="card-deck">
   <div class="card">
    <img class="card-img-top" src="../images/beijing.JPG" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Beijing</h5>
         <div class="money"><h3>655€</h3></div>
        <div class="ofer"><h4>Ahorra 90 Euros</h4></div> 
      </div>
  </div>
  
  <div class="card">
    <img class="card-img-top" src="../images/buenos_aires.JPG" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Buenos Aires</h5>
      <div class="money"><h3>655€</h3></div>
        <div class="ofer"><h4>Ahorra 90 Euros</h4></div>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../images/ciudad_mexico.JPG" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mexico</h5>
      <div class="money"><h3>450€</h3></div>
        <div class="ofer"><h4>Ahorra 90 Euros</h4></div>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../images/madrid.JPG">
    <div class="card-body">
      <h5 class="card-title">Madrid</h5>
      <div class="money"><h3>310€</h3></div>
        <div class="ofer"><h4>Ahorra 90 Euros</h4></div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../images/new_york.JPG">
    <div class="card-body">
      <h5 class="card-title">New York</h5>
      <div class="money"><h3>720€</h3></div>
        <div class="ofer"><h4>Ahorra 90 Euros</h4></div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../images/tokyo.JPG">
    <div class="card-body">
      <h5 class="card-title">Tokyo</h5>
      <div class="money"><h3>520€</h3></div>
        <div class="ofer"><h4>Ahorra 90 Euros</h4></div>
    </div>
  </div>
 </div>
</div>
<div class="container-fluid">
   <div class="row justify-content-center">
     <div class="col-12">   
         <div id="carouselExampleControls" class="carousel slide d-md-none lg-block xl-block" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../images/beijing.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../images/buenos_aires.JPG" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../images/ciudad_mexico.JPG" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="../images/madrid.jpg" alt="Forth slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="../images/new_york.JPG" alt="Fifth slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" src="../images/tokyo.JPG" alt="Sixth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
     </div>
   </div> 
</div>
</a>
<a name="quienessomos" id="quienessomos">
<div class="container-fluid bkimage2 d-none d-md-block d-lg-block">
    <div class="row justify-content-center">
        <div class="qs"> 
                    <h2>QUIENES SOMOS</h2>
                    GeeksHubs Travels es una agencias de viajes<br>
                    online creada en 2009 por un equipo de viaje-<br>
                    ros entusiastas que dicen hacer de su<br>
                    pasion por conocer el mundo un modo de<br>
                    vida.Desde nuestros inicios hemos diseñado<br>
                    mas de 200 viajes organizados a diferentes<br>
                    destinos de Europa, Norteamérica y Asia.<br>
                    Nuestro objetivo ahora es ir ampliando hori-<br>
                    zontes poco a poco<br>
        <div class="row justify-content-center">
            <div class= "but">
                <button class="btn btn-dark">DESCUBRIR</button>
            </div>
        </div>
    </div>
</div>
</div>
    
<div class="container-fluid bg bg-primary d-md-none lg-block xl-block">
    <div class="row justify-content-center">
        <div class="qs2"> 
                    <h2>QUIENES SOMOS</h2>
                    GeeksHubs Travels es una agencias de viajes<br>
                    online creada en 2009 por un equipo de viaje-<br>
                    ros entusiastas que dicen hacer de su<br>
                    pasion por conocer el mundo un modo de<br>
                    vida.Desde nuestros inicios hemos diseñado<br>
                    mas de 200 viajes organizados a diferentes<br>
                    destinos de Europa, Norteamérica y Asia.<br>
                    Nuestro objetivo ahora es ir ampliando hori-<br>
                    zontes poco a poco<br>
        <div class="row justify-content-center">
            <div class= "but">
                <button class="btn btn-dark">DESCUBRIR</button>
            </div>
        </div>
    </div>
</div>
</div>
</a>
<a name="dondeestamos" id="dondeestamos">
<div class="container fluid d-none d-md-block d-lg-block">
    <div class="row gm">
        <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.450235040021!2d-0.3581286848462233!3d39.48174697948477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604898947abad3%3A0x5aae0e0b7fa0358a!2sGeeksHubs+Space+Valencia!5e0!3m2!1ses!2ses!4v1527876634038" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    <div class="col" >
    <div class="textForm">
      <div>
        E:enquiry@artiotravel.com<br>
        P: 0264 123 4567<br>
    </div> 
     <div>  
        Giv us a call or drop by anytime, we endeavour to answer all<br>
        enquires within 24 hours on business days.<br>
     </div>   
      <div> 
        We are open 8.30 AM - 4.00 PM week days.
    </div>
    </div>
    <form>
        <div class="form-row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Nombre*">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Email*">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="number" class="form-control" placeholder="Telefono*">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Pais*">
            </div>
        </div>
            <div class="form-row" >
            <div class="col">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Mensaje"></textarea>
            </div>
            </div>        
            <div class="form-row" >
                <div class="col">
                    <button type="submit"class="btn btn-warning">Enviar Mensaje</button>
                </div>
            </div>
    </form>
    </div>
    </div>
</div>
 </a>
    
