<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='dist/stylesheets/main.min.css' />
  </head>
  <body>
    {{{body}}}
  <script type="text/javascript" src="dist/javascripts/app.js">
  </script>
  </body>
</html>
