<div class="container-fluid bkimage3">
    <div class="row">
        <div class="col-12">
                <div class="login"
                <h1>LOGIN</h1>
                </div>
        </div>        
    </div>
    <div class="row justify-content-center">
        <form>
            <div class="form-group">
                <input class=" form-control form-control-lg justify-content-center" type="text" placeholder="Usuario o Email">
                <input class=" form-control form-control-lg justify-content-center" type="text" placeholder="Contraseña">
                <button class="btn btn-warning" type="submit">Enviar</button>
            </div>    
        </form>
    </div>       
</div>