<div class="container-fluid bkimage3">
   <div class="transparente"> 
    <div class="row">
        <div class="col-12">
                <div class="login">
                <h1>LOGIN</h1>
                </div>
        </div>        
    </div>
    <div class="row justify-content-center">
        <form method="post">
            <div class="form-group">
                <input class=" form-control form-control-lg" type="text" placeholder="Usuario o Email" name="uname">
                <input class=" form-control form-control-lg" type="password" placeholder="Contraseña" name="psw">
                <button class="btn btn-warning" type="submit">Enviar</button><br>
                <a href="src">¿No recuerdas tu contraseña?</a>
            </div>    
        </form>
            {{#if info}}
                <div> <h1>ERROR {{info}} </h1></div>
            {{/if}}
    
    </div>  
  </div>       
</div>
