body {
  background-color:white;
  
}

h1{
  font-size: 50px;
  color:white;
  text-align: center;
}

 .login h1 {
  font-size: 50px;
  color: black;
  text-align: center;
}

a {
  color:white;
}

nav{
  font-size: 15px;
  }

  nav a:hover{
  color:blue;
}

.bkimage{
  background: url("/images/nathan-anderson-316188-unsplash.jpg") no-repeat center top;
  background-position: center center;
  text-align: center;
  min-height: 400px;
  width: 100%;
  background-size:cover;
}
.bkimage2{
  background: url("/images/travel_2.jpg") no-repeat center;
  background-position: center center;
  text-align: center;
  min-height: 400px;
  width: 100%;
  background-size:cover;
  padding:50px;
  margin-top:30px; 
}

.bkimage3{
  background: url("/images/travel_1.jpg") no-repeat center;
  background-position: center center;
  text-align: center;
  min-height: 400px;
  width: 100%;
  padding:30px;
  background-size:cover; 
}

.beijing{
  background: url("/images/beijing.jpg")no-repeat center ;
  background-size:cover;
  min-height: 400px;
  }

.buenosAires{
  background: url("/images/buenos_aires.JPG")no-repeat center;
  background-size:cover;
  min-height: 400px;

}

.mexico{
  background: url("/images/ciudad_mexico.JPG")no-repeat center;
  background-size:cover;
  min-height: 400px;

}

.madrid{
  background: url("/images/madrid.jpg")no-repeat center;
  background-size:cover;
  min-height: 400px;

}


.newYork{
  background: url("/images/new_york.JPG") no-repeat center;
  background-size:cover;
  min-height: 400px;

}

.tokyo{
  background: url("/images/tokyo.JPG") no-repeat center;
  background-size:cover;
  min-height: 400px;

}

.logo{
height: 40px;
width: 80px;

}

 .footer{
   background-color: darkblue;
   color: bisque;
    padding: 25px;
  }

 .titulo{
  color: white;
  text-align: center;
}

 .rs1{
width: 40px;
height: 40px;
 }


 .qs{
text-align: left;
font-size: 20px;
color:black; 
background-color:white;
padding: 30px;
 
}

.qs2{
  margin: 20px;
  text-align: left;
  font-size: 18px;
  color:black; 
  background-color:white;
  padding: 20px;
  max-height:500px;
  min-width:400px; 
  }

.qs h2{
font-size: 40px;
  text-decoration:underline yellow;
text-align: center;
}

.qs2 h2{
font-size: 25px;
  text-decoration:underline yellow;
text-align: center;
}

p{
  font-size: 20px;
}

.textForm{
  padding-top:80px; 
  padding-left: 80px;
  padding-bottom: 30px;
  text-align: left;
}

form{
  padding: 60px;
}
.gm{
  padding: 60px;
}


.but button{
  color: yellow;
}

.bot button{
  font-size: 30px;
  text-align: center;
}



.ofer {
  color:white;
  position: absolute;
  background-color: blue;
  top: 0px;
  left: 0px;
  width: 80%;
  height: 35px;
  text-align: center;
}

.money {
  position: absolute;
  background-color: yellow;
  color: blue;
  top: 0px;
  right: 0px;
  height: 35px;
  width:20%; 
  text-align: center;
}
a nav-link{
color: white;
}


.copy{
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

iframe{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 450px;
  width: 500px;
}

.login{
font-size: 50px;
}

input{
  margin: 20px
}

.transparente{
  background-color: rgba(200, 200, 250, 0.5);
  min-width: 500px;
  padding: 30px;
  max-width: 500px;
  margin-left: 350px;
  margin-right: 350px;
}
.transparente a {
  font-size: 18px;
  text-decoration: none;
}
.transparente2{
  font-size:15px;
  background-color: rgba(200, 200, 250, 0.5);
  min-width: 300px;
  padding: 15px;
  
}
.transparente2 a {
  font-size: 14px;
  text-decoration: none;
}

.transparente2 h1{
  font-size: 45px;
}
.cuadrado{
text-align: left;
}
.e404 h1{
  color: black;
  font-size: 60px;
}

.e404{
  text-align: center;
  padding:60px; 
}

.log{
  text-align: center;
  color: crimson;
}
.active{
  text-align: center;
  color: cornflowerblue;
}
.active h1{
  color: blueviolet
}

.errore{
  font-size:30px;
  padding:50px;
  text-align: center;
}