body {
  background-color:white;
  
}

h1{
  font-size: 50px;
  color:white;
  text-align: center;
}



a {
  color: white;
}

nav{
  font-size: 20px;;
  color:black;
  }

  nav a:hover{
  color:blue;
}

.image{
  background: url("/images/nathan-anderson-316188-unsplash.jpg") no-repeat center top;
  background-position: center center;
  text-align: center;
  min-height: 400px;
  width: 100%;
  background-size:cover;
  margin-bottom: 30px;
}
.image2{
  background: url("/images/travel_2.jpg") no-repeat center;
  background-position: center center;
  text-align: center;
  min-height: 400px;
  width: 100%;
  background-size:cover;
  padding:50px;
  margin-top:30px; 
}

.logo{
height: 60px;
width: 180px;
}

 .footer{
   background-color: darkblue;
   color: bisque;
   padding: 30px;
   
  }

 .titulo{
  color: white;
  text-align: center;
}

 .rs1{
width: 40px;
height: 40px;
 }


 .qs{
text-align: left;
font-size: 20px;
color:black; 
background-color:white;
padding: 20px;
}

.qs h2{
text-decoration:underline yellow;
}



p{
  font-size: 20px;
}

.textForm{
  padding-top:80px; 
  padding-left: 80px;
  padding-bottom: 30px;
  text-align: left;
}

form{
  padding: 60px;
}
.gm{
  padding: 60px;
}

.pf1{
  padding: 20px;
};

.pf2{
  padding: 20px;
};

.pf3{
  padding: 20px;
};


.but button{
  color: yellow;
}

.bot button{
  font-size: 30px;
  text-align: center;
}

.cop{
  border-top: solid 1px black; 
  text-align: center;
  background-color: darkblue;
  color: white;
  padding: 50px;
}

.ofer {
  color:white;
  position: absolute;
  background-color: blue;
  top: 10px;
  left: 10px;
  width: 80%;
  height: 35px;
}

.money {
  position: absolute;
  background-color: yellow;
  color: blue;
  top: 10px;
  right: 10px;
  height: 60px;

}
a nav-link{
color: white;
}